::selection {
  background-color: #51459e;
  color: #fff;
}

::-webkit-scrollbar {
  background-color: #dee1e6;
  width: 8px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #51459e;
  border-radius: 10px;
}

*,
*::after,
*::before,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofiapro-light.otf");
}
body {
  font-family: "Sofia Pro";
  overflow-x: hidden;
  background-color: #ffffff;
}

.navbar {
  height: 60px;
  border-bottom: 1px solid #f6f6f6;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  gap: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .navbar {
    height: 100px;
    padding: 0 2rem;
  }
}
.navbar__logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #51459e;
  text-decoration: none;
  font-family: DM Sans;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
@media only screen and (min-width: 1200px) {
  .navbar__logo {
    gap: 18px;
  }
}
.navbar__logo svg {
  width: 32px;
  height: 32px;
}
@media only screen and (min-width: 992px) {
  .navbar__logo svg {
    width: 46px;
    height: 46px;
  }
}
.navbar__logo span {
  display: none;
  white-space: nowrap;
}
@media only screen and (min-width: 576px) {
  .navbar__logo span {
    display: inline-block;
  }
}
.navbar__search {
  align-items: center;
  gap: 18px;
  display: none;
}
@media only screen and (min-width: 992px) {
  .navbar__search {
    display: flex;
  }
}
.navbar__search--input {
  border-radius: 10px;
  border: 1px solid #f0f0f0;
  background: #ffffff;
  padding: 20px 26px;
  position: relative;
  padding-left: 68px;
  height: 64px;
  width: 300px;
}
@media only screen and (min-width: 1200px) {
  .navbar__search--input {
    width: 400px;
  }
}
.navbar__search--input svg {
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translateY(-50%);
  cursor: pointer;
}
.navbar__search--input input {
  color: #25396f;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  border: none;
  outline: none;
  width: 100%;
}
.navbar__search--input input::placeholder {
  color: #7c8db5;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
.navbar__search--filter {
  height: 64px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  background: #ffffff;
  display: flex;
  gap: 0;
  align-items: center;
  padding-left: 24px;
  padding-right: 10px;
  position: relative;
  background: #ffffff;
  cursor: pointer;
  user-select: none;
}
@media only screen and (min-width: 992px) {
  .navbar__search--filter {
    gap: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar__search--filter {
    gap: 80px;
  }
}
.navbar__search--filter .arrow {
  margin-left: 10px;
  margin-right: 10px;
  float: right;
  rotate: 180deg;
}
.navbar__search--filter .rotated {
  transform: rotate(-180deg);
}
.navbar__search--filter svg {
  transition: all 0.3s;
}
.navbar__search--filter::before {
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -2px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #fff transparent;
}
.navbar__search--filter .dropdown {
  transition: 0.3s;
  position: absolute;
  top: 120%;
  right: 0;
  left: 0;
  margin: 0;
  list-style: none;
  z-index: 99;
  box-shadow: inherit;
  background: inherit;
  transform-origin: top;
  user-select: none;
  opacity: 0;
  visibility: hidden;
  color: #25396f;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid transparent;
  padding: 5px;
}
.navbar__search--filter .dropdown li {
  padding: 0 15px;
  line-height: 45px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.navbar__search--filter .dropdown li:last-child {
  border-bottom: none;
}
.navbar__search--filter .dropdown li:hover {
  background-color: #dee1e6;
  border-radius: 5px;
}
.navbar__search--filter.active .dropdown {
  opacity: 1;
  visibility: visible;
  border-radius: 10px;
  border: 1px solid #f0f0f0;
}
.navbar__search--filter .selected-display {
  color: #25396f;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.navbar__search--filter svg path {
  stroke: #25396f;
}
.navbar__search--filter label {
  color: #25396f;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.navbar__search--filter select {
  border: none;
  outline: none;
  background-color: transparent;
  color: #25396f;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: relative;
}
.navbar__search--cross {
  display: none;
}
.navbar__search.search-mobile {
  display: flex;
  height: 100%;
  width: calc(100% - 2rem);
  margin: 0 auto;
  position: absolute;
  background-color: #fff;
  animation: appearOpacity 0.3s ease-out forwards;
}
@keyframes appearOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navbar__search.search-mobile .navbar__search--input {
  width: 100%;
  height: auto;
  padding: 10px 0;
  padding-left: 40px;
  padding-right: 18px;
}
.navbar__search.search-mobile .navbar__search--input svg {
  left: 14px;
  transform: translateY(-50%) scale(0.7);
}
.navbar__search.search-mobile .navbar__search--filter {
  display: none;
}
.navbar__search.search-mobile .navbar__search--cross {
  display: block;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.navbar__search.search-mobile .navbar__search--cross svg {
  width: 100%;
  height: 100%;
  fill: #25396f;
  transform: scale(1.2);
}
.navbar__right {
  display: flex;
  align-items: center;
  gap: 14px;
}
@media only screen and (min-width: 576px) {
  .navbar__right {
    gap: 40px;
  }
}
.navbar__right .search-icon-mobile {
  cursor: pointer;
  display: block;
}
@media only screen and (min-width: 992px) {
  .navbar__right .search-icon-mobile {
    display: none;
  }
}
.navbar__right--notifications {
  cursor: pointer;
}
.navbar__right--profile {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
}
.navbar__right--profile .menu-toggle {
  display: block;
}
@media only screen and (min-width: 576px) {
  .navbar__right--profile .menu-toggle {
    display: none;
  }
}
.navbar__right--profile .nav-checkbox {
  display: none;
}
.navbar__right--profile .menu-icon {
  border: none;
  cursor: pointer;
}
.navbar__right--profile .menu-icon:focus {
  outline: none;
}
.navbar__right--profile .menu-icon__1 {
  transform: rotate(0) translate(0, 0);
  transition: transform 250ms ease;
  transform-origin: 0%;
}
.navbar__right--profile .menu-icon__2 {
  transform: scale(1, 1);
  transition: transform 250ms ease;
}
.navbar__right--profile .menu-icon__3 {
  transform: rotate(0) translate(0, 0);
  transition: transform 250ms ease;
  transform-origin: 0%;
}
.navbar__right--profile .menu-icon:hover .navbar__right--profile .menu-icon__1 {
  transform: translateY(-2px);
}
.navbar__right--profile .menu-icon:hover .navbar__right--profile .menu-icon__3 {
  transform: translateY(2px);
}
.navbar__right--profile .nav-checkbox:checked + .menu-icon .menu-icon__1 {
  transform: rotate(45deg) translate(0, -1.5rem);
}
.navbar__right--profile .nav-checkbox:checked + .menu-icon .menu-icon__2 {
  transform: scale(0, 1);
}
.navbar__right--profile .nav-checkbox:checked + .menu-icon .menu-icon__3 {
  transform: rotate(-45deg) translate(0, 1.5rem);
}
@keyframes anim {
  to {
    stroke-dashoffset: 0;
  }
}
.navbar__right--profile .avatar img {
  width: 34px;
  height: 34px;
}
@media only screen and (min-width: 992px) {
  .navbar__right--profile .avatar img {
    width: 46px;
    height: 46px;
  }
}
.navbar__right--profile .avatar-details {
  display: none;
}
@media only screen and (min-width: 768px) {
  .navbar__right--profile .avatar-details {
    display: block;
  }
}
.navbar__right--profile .avatar-details__name {
  color: #25396f;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.navbar__right--profile .avatar-details__email {
  color: var(--text-color, #7c8db5);
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sidebar {
  border-right: 1px solid #f6f6f6;
  width: 250px;
  padding: 35px 30px;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 50;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
  width: 80px;
  padding: 20px 10px;
  display: none;
  gap: 40px;
}
.sidebar::-webkit-scrollbar {
  width: 4px;
}
.sidebar__toggle {
  position: absolute;
  right: 0;
  width: 13px;
  height: 22px;
  background-color: #51459e;
  cursor: pointer;
  display: none;
  border-top-left-radius: 100vh;
  border-bottom-left-radius: 100vh;
}
@media only screen and (min-width: 768px) {
  .sidebar__toggle {
    display: block;
  }
}
.sidebar__toggle svg {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%) scale(0.6);
  fill: #fff;
}
.sidebar__layout {
  display: flex;
  flex-direction: column;
}
.sidebar__upper {
  margin-bottom: 40px;
}
.sidebar__lower {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar__lower--used {
  display: none;
  margin-bottom: 60px;
  width: 100%;
}
.sidebar__lower--used .used-byte {
  color: #25396f;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  margin-bottom: 4px;
}
.sidebar__lower--used .used-percentage {
  color: #25396f;
  font-size: 13px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  margin-bottom: 12px;
}
.sidebar__lower--used .full-space {
  background-color: #eee4e4;
  border-radius: 100vh;
  height: 8px;
  width: 100%;
}
.sidebar__lower--used .full-space .used-space {
  background-color: #ff6e91;
  border-radius: 100vh;
  width: 75%;
  height: 100%;
}
.sidebar__lower .progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(#ff6e91 75%, #eee4e4 0);
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 60px;
  color: #25396f;
}
.sidebar__lower--addspace {
  border-radius: 100vh;
  width: 42px;
  height: 42px;
  position: relative;
  padding: 10px;
  font-size: 11.5px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  background-color: #51459e;
  color: #ffffff;
  visibility: hidden;
}
.sidebar__lower--addspace::before {
  content: url("/public/plus.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 11.5px;
  font-weight: 600;
  color: #fff;
  background-color: #51459e;
  visibility: visible;
  width: 100%;
  height: 100%;
  border-radius: 100vh;
  padding: 10px;
}
.sidebar__upper, .sidebar__middle {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
.sidebar__upper--item, .sidebar__middle--item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  cursor: pointer;
}
.sidebar__upper--item > div, .sidebar__middle--item > div {
  background-color: #eceff7;
  border-radius: 10px;
  padding: 12px;
  width: 50px;
  height: 50px;
  transition: all 0.3s ease-in-out;
}
.sidebar__upper--item > div svg rect, .sidebar__middle--item > div svg rect {
  transition: all 0.3s ease-in-out;
}
.sidebar__upper--item > div svg path, .sidebar__middle--item > div svg path {
  transition: all 0.3s ease-in-out;
}
.sidebar__upper--item span, .sidebar__middle--item span {
  display: none;
  color: #7987a5;
}
.sidebar__upper--item:hover > div, .sidebar__middle--item:hover > div {
  background-color: #51459e;
}
.sidebar__upper--item:hover > div .dashboard-icon rect, .sidebar__upper--item:hover > div .allfiles-icon rect, .sidebar__upper--item:hover > div .shared-icon rect, .sidebar__upper--item:hover > div .favourites-icon rect, .sidebar__upper--item:hover > div .recent-icon rect, .sidebar__upper--item:hover > div .request-icon rect, .sidebar__upper--item:hover > div .pictures-icon rect, .sidebar__upper--item:hover > div .videos-icon rect, .sidebar__upper--item:hover > div .documents-icon rect, .sidebar__upper--item:hover > div .signed-icon rect, .sidebar__middle--item:hover > div .dashboard-icon rect, .sidebar__middle--item:hover > div .allfiles-icon rect, .sidebar__middle--item:hover > div .shared-icon rect, .sidebar__middle--item:hover > div .favourites-icon rect, .sidebar__middle--item:hover > div .recent-icon rect, .sidebar__middle--item:hover > div .request-icon rect, .sidebar__middle--item:hover > div .pictures-icon rect, .sidebar__middle--item:hover > div .videos-icon rect, .sidebar__middle--item:hover > div .documents-icon rect, .sidebar__middle--item:hover > div .signed-icon rect {
  fill: #dee1e6;
}
.sidebar__upper--item:hover > div .dashboard-icon path, .sidebar__upper--item:hover > div .allfiles-icon path, .sidebar__upper--item:hover > div .shared-icon path, .sidebar__upper--item:hover > div .favourites-icon path, .sidebar__upper--item:hover > div .recent-icon path, .sidebar__upper--item:hover > div .request-icon path, .sidebar__upper--item:hover > div .pictures-icon path, .sidebar__upper--item:hover > div .videos-icon path, .sidebar__upper--item:hover > div .documents-icon path, .sidebar__upper--item:hover > div .signed-icon path, .sidebar__middle--item:hover > div .dashboard-icon path, .sidebar__middle--item:hover > div .allfiles-icon path, .sidebar__middle--item:hover > div .shared-icon path, .sidebar__middle--item:hover > div .favourites-icon path, .sidebar__middle--item:hover > div .recent-icon path, .sidebar__middle--item:hover > div .request-icon path, .sidebar__middle--item:hover > div .pictures-icon path, .sidebar__middle--item:hover > div .videos-icon path, .sidebar__middle--item:hover > div .documents-icon path, .sidebar__middle--item:hover > div .signed-icon path {
  fill: #dee1e6;
}
.sidebar__upper--item:hover span, .sidebar__middle--item:hover span {
  color: #1c295d;
}
.sidebar .active-menu-item > div {
  position: relative;
  overflow: hidden;
  background-color: #51459e;
}
.sidebar .active-menu-item > div::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  border-radius: 100vh;
  background-color: #84e8f4;
}
.sidebar .active-menu-item > div .dashboard-icon rect {
  fill: #dee1e6;
}
.sidebar .active-menu-item > div .dashboard-icon path {
  fill: #dee1e6;
}
.sidebar .active-menu-item span {
  color: #1c295d;
}
.sidebar.nav-active {
  display: flex;
  width: 78vw;
  padding: 35px 30px 45px;
  animation: appearX 0.3s ease-out forwards;
}
@keyframes appearX {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.sidebar.nav-active .sidebar__upper, .sidebar.nav-active .sidebar__middle {
  grid-template-columns: repeat(2, 1fr);
}
.sidebar.nav-active .sidebar__upper--item:hover span, .sidebar.nav-active .sidebar__middle--item:hover span {
  color: #1c295d;
}
.sidebar.nav-active .sidebar__upper--item span, .sidebar.nav-active .sidebar__middle--item span {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.sidebar.nav-active .sidebar__lower .sidebar__lower--used {
  display: block;
}
.sidebar.nav-active .sidebar__lower .progress-bar {
  display: none;
}
.sidebar.nav-active .sidebar__lower .sidebar__lower--addspace {
  padding: 15px 35px;
  border-radius: 13px;
  width: 100%;
  visibility: visible;
  box-shadow: 0 10px 0 -6px #cfc8ff;
  transition: all 0.3s ease-in-out;
}
.sidebar.nav-active .sidebar__lower .sidebar__lower--addspace:hover {
  box-shadow: none;
}
.sidebar.nav-active .sidebar__lower .sidebar__lower--addspace::before {
  display: none;
}
.sidebar.nav-active .sidebar__lower .sidebar__lower--addspace svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 576px) {
  .sidebar {
    display: flex;
    transform: translateX(0);
  }
}
@media only screen and (min-width: 768px) {
  .sidebar {
    width: 250px !important;
    padding: 20px;
  }
  .sidebar__upper, .sidebar__middle {
    grid-template-columns: repeat(2, 1fr);
  }
  .sidebar__upper--item span, .sidebar__middle--item span {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    color: #7987a5;
    transition: all 0.3s ease-in-out;
  }
  .sidebar__lower--used {
    display: block;
  }
  .sidebar__lower .progress-bar {
    display: none;
  }
  .sidebar__lower--addspace {
    padding: 15px 35px;
    border-radius: 13px;
    width: 100%;
    visibility: visible;
    box-shadow: 0 10px 0 -6px #cfc8ff;
    transition: all 0.3s ease-in-out;
  }
  .sidebar__lower--addspace:hover {
    box-shadow: none;
  }
  .sidebar__lower--addspace::before {
    display: none;
  }
  .sidebar__lower--addspace svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (min-width: 992px) {
  .sidebar {
    min-height: calc(100vh - 100px);
    top: 100px;
    padding: 35px 30px;
  }
}

.narrow-sidebar {
  width: 80px !important;
  padding: 20px 10px;
}
.narrow-sidebar .sidebar__upper, .narrow-sidebar .sidebar__middle {
  grid-template-columns: 1fr;
}
.narrow-sidebar .sidebar__upper--item span, .narrow-sidebar .sidebar__middle--item span {
  display: none;
}
.narrow-sidebar .sidebar__lower {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.narrow-sidebar .sidebar__lower--used {
  display: none;
}
.narrow-sidebar .sidebar__lower .progress-bar {
  display: flex;
}
.narrow-sidebar .sidebar__lower--addspace {
  border-radius: 100vh;
  width: 42px;
  height: 42px;
  position: relative;
  padding: 10px;
}
.narrow-sidebar .sidebar__lower--addspace svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 992px) {
  .narrow-sidebar {
    padding: 35px 10px;
  }
}

.body {
  margin-left: 0;
  margin-top: 60px;
  transition: all 0.3s ease-in-out;
}
@supports (container-type: inline-size) {
  .body {
    container-type: inline-size;
  }
}
@supports not (container-type: inline-size) {
  @media only screen and (min-width: 1242px) {
    .body .body-contents {
      flex-direction: row;
      gap: 30px;
    }
    .body .body-contents .body-contents__main {
      flex-basis: 65%;
      width: calc(65% - 15px);
    }
    .body .body-contents .body-contents__aside {
      flex-basis: 35%;
      width: calc(35% - 15px);
    }
  }
  @media only screen and (min-width: 1450px) {
    .body {
      flex-direction: row;
      gap: 45px;
    }
    .body .body-contents .body-contents__main {
      flex-basis: 65%;
      width: calc(65% - 22.5px);
    }
    .body .body-contents .body-contents__aside {
      flex-basis: 35%;
      width: calc(35% - 22.5px);
    }
  }
  @media only screen and (min-width: 2250px) {
    .body {
      flex-direction: row;
      gap: 80px;
    }
    .body .body-contents .body-contents__main {
      flex-basis: 65%;
      width: calc(65% - 40px);
    }
    .body .body-contents .body-contents__aside {
      flex-basis: 35%;
      width: calc(35% - 40px);
    }
  }
}
@media only screen and (min-width: 576px) {
  .body {
    margin-left: 80px;
  }
}
@media only screen and (min-width: 768px) {
  .body {
    margin-left: 250px;
  }
}
@media only screen and (min-width: 992px) {
  .body {
    margin-top: 100px;
  }
}

.body-contents {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 20px 0;
}
@container (min-width: 992px) {
  .body-contents {
    flex-direction: row;
    gap: 30px;
  }
  .body-contents .body-contents__main {
    flex-basis: 65%;
  }
  .body-contents .body-contents__aside {
    flex-basis: 35%;
  }
}
@container (min-width: 1200px) {
  .body-contents {
    flex-direction: row;
    gap: 45px;
  }
}
@container (min-width: 2000px) {
  .body-contents {
    flex-direction: row;
    gap: 80px;
  }
}
.body-contents__main {
  flex-grow: 1;
}
@supports (container-type: inline-size) {
  .body-contents__main {
    container-type: inline-size;
  }
}
@supports not (container-type: inline-size) {
  @media only screen and (min-width: 768px) {
    .body-contents__main .rufm-layout {
      flex-flow: row wrap;
      gap: 40px;
    }
    .body-contents__main .rufm-layout > div {
      flex: 1 300px;
    }
  }
}
@container (min-width: 600px) {
  .body-contents .rufm-layout {
    flex-direction: row;
    gap: 0;
  }
}
@container (min-width: 400px) {
  .body-contents .quick-access__cards > .qa-card:nth-child(2) {
    display: block;
  }
}
@supports not (container-type: inline-size) {
  @media only screen and (min-width: 460px) {
    .body-contents .quick-access__cards > .qa-card:nth-child(2) {
      display: block;
    }
  }
}
@container (min-width: 600px) {
  .body-contents .quick-access__cards > .qa-card:nth-child(3) {
    display: block;
  }
}
@supports not (container-type: inline-size) {
  @media only screen and (min-width: 870px) {
    .body-contents .quick-access__cards > .qa-card:nth-child(3) {
      display: block;
    }
  }
}
@container (min-width: 800px) {
  .body-contents .quick-access__cards > .qa-card:nth-child(4) {
    display: block;
  }
}
@supports not (container-type: inline-size) {
  @media only screen and (min-width: 1700px) {
    .body-contents .quick-access__cards > .qa-card:nth-child(4) {
      display: block;
    }
  }
}
@container (min-width: 1000px) {
  .body-contents .quick-access__cards > .qa-card:nth-child(5) {
    display: block;
  }
}
@supports not (container-type: inline-size) {
  @media only screen and (min-width: 2500px) {
    .body-contents .quick-access__cards > .qa-card:nth-child(5) {
      display: block;
    }
  }
}
@container (min-width: 1200px) {
  .body-contents .quick-access__cards > .qa-card:nth-child(6) {
    display: block;
  }
}
@supports not (container-type: inline-size) {
  @media only screen and (min-width: 3050px) {
    .body-contents .quick-access__cards > .qa-card:nth-child(6) {
      display: block;
    }
  }
}
@container (min-width: 1400px) {
  .body-contents .quick-access__cards > .qa-card:nth-child(7) {
    display: block;
  }
}
@supports not (container-type: inline-size) {
  @media only screen and (min-width: 3500px) {
    .body-contents .quick-access__cards > .qa-card:nth-child(7) {
      display: block;
    }
  }
}
@container (min-width: 1600px) {
  .body-contents .quick-access__cards > .qa-card:nth-child(8) {
    display: block;
  }
}
@supports not (container-type: inline-size) {
  @media only screen and (min-width: 4200px) {
    .body-contents .quick-access__cards > .qa-card:nth-child(8) {
      display: block;
    }
  }
}
@media only screen and (min-width: 992px) {
  .body-contents {
    padding: 35px 0;
  }
}

.wide-body {
  margin-left: 80px;
}

.folders-container {
  overflow-x: auto;
  margin-bottom: 40px;
  padding-left: 30px;
}
.folders-container::-webkit-scrollbar {
  height: 6px;
}

.folders {
  display: flex;
  flex-flow: row nowrap;
  gap: 25px;
  margin-bottom: 40px;
}
.folders .folder:nth-child(1) {
  background-color: #f6f5ff;
  box-shadow: 0 1.85px 3.15px 0 rgba(158, 160, 249, 0.0169), 0 8.15px 6.52px 0 rgba(158, 160, 249, 0.0275), 0 20px 13px 0 rgba(158, 160, 249, 0.035), 0 38.52px 25.48px 0 rgba(158, 160, 249, 0.0425), 0 45px 46.85px 0 rgba(158, 160, 249, 0.0531);
}
.folders .folder:nth-child(1):hover {
  transform: scale(0.98);
  box-shadow: 0 1.85px 3.15px 0 rgba(158, 160, 249, 0.0169), 0 6px 6.52px 0 rgba(158, 160, 249, 0.0275), 0 15px 13px 0 rgba(158, 160, 249, 0.035), 0 23px 25.48px 0 rgba(158, 160, 249, 0.0425), 0 35px 46.85px 0 rgba(158, 160, 249, 0.0531);
}
.folders .folder:nth-child(1) .folder__upper .folder__upper--icon svg > path {
  fill: #3734a9;
}
.folders .folder:nth-child(2) {
  background-color: #f5fffc;
  box-shadow: 0 1.85px 3.15px 0 rgba(103, 207, 236, 0.0169), 0 8.15px 6.52px 0 rgba(103, 207, 236, 0.0275), 0 20px 13px 0 rgba(103, 207, 236, 0.035), 0 38.52px 25.48px 0 rgba(103, 207, 236, 0.0425), 0 45px 46.85px 0 rgba(103, 207, 236, 0.0531);
}
.folders .folder:nth-child(2):hover {
  transform: scale(0.98);
  box-shadow: 0 1.85px 3.15px 0 rgba(103, 207, 236, 0.0169), 0 6px 6.52px 0 rgba(103, 207, 236, 0.0275), 0 15px 13px 0 rgba(103, 207, 236, 0.035), 0 23px 25.48px 0 rgba(103, 207, 236, 0.0425), 0 35px 46.85px 0 rgba(103, 207, 236, 0.0531);
}
.folders .folder:nth-child(2) .folder__upper .folder__upper--icon svg > path {
  fill: #2fe6c8;
}
.folders .folder:nth-child(3) {
  background-color: #fff9f0;
  box-shadow: 0 1.85px 3.15px 0 rgba(253, 131, 66, 0.0169), 0 8.15px 6.52px 0 rgba(253, 131, 66, 0.0275), 0 20px 13px 0 rgba(253, 131, 66, 0.035), 0 38.52px 25.48px 0 rgba(253, 131, 66, 0.0425), 0 45px 46.85px 0 rgba(253, 131, 66, 0.0531);
}
.folders .folder:nth-child(3):hover {
  transform: scale(0.98);
  box-shadow: 0 1.85px 3.15px 0 rgba(253, 131, 66, 0.0169), 0 6px 6.52px 0 rgba(253, 131, 66, 0.0275), 0 15px 13px 0 rgba(253, 131, 66, 0.035), 0 23px 25.48px 0 rgba(253, 131, 66, 0.0425), 0 35px 46.85px 0 rgba(253, 131, 66, 0.0531);
}
.folders .folder:nth-child(3) .folder__upper .folder__upper--icon svg > path {
  fill: #fdbc64;
}
.folders .folder:nth-child(4) {
  background-color: #fff5f5;
  box-shadow: 0 1.85px 3.15px 0 rgba(255, 125, 125, 0.0169), 0 8.15px 6.52px 0 rgba(255, 125, 125, 0.0275), 0 20px 13px 0 rgba(255, 125, 125, 0.035), 0 38.52px 25.48px 0 rgba(255, 125, 125, 0.0425), 0 45px 46.85px 0 rgba(255, 125, 125, 0.0531);
}
.folders .folder:nth-child(4):hover {
  transform: scale(0.98);
  box-shadow: 0 1.85px 3.15px 0 rgba(255, 125, 125, 0.0169), 0 6px 6.52px 0 rgba(255, 125, 125, 0.0275), 0 15px 13px 0 rgba(255, 125, 125, 0.035), 0 23px 25.48px 0 rgba(255, 125, 125, 0.0425), 0 35px 46.85px 0 rgba(255, 125, 125, 0.0531);
}
.folders .folder:nth-child(4) .folder__upper .folder__upper--icon svg > path {
  fill: #ff7f5c;
}
.folders .folder:nth-child(5) {
  background-color: #f5fffc;
  box-shadow: 0 1.85px 3.15px 0 rgba(103, 207, 236, 0.0169), 0 8.15px 6.52px 0 rgba(103, 207, 236, 0.0275), 0 20px 13px 0 rgba(103, 207, 236, 0.035), 0 38.52px 25.48px 0 rgba(103, 207, 236, 0.0425), 0 45px 46.85px 0 rgba(103, 207, 236, 0.0531);
}
.folders .folder:nth-child(5):hover {
  transform: scale(0.98);
  box-shadow: 0 1.85px 3.15px 0 rgba(103, 207, 236, 0.0169), 0 6px 6.52px 0 rgba(103, 207, 236, 0.0275), 0 15px 13px 0 rgba(103, 207, 236, 0.035), 0 23px 25.48px 0 rgba(103, 207, 236, 0.0425), 0 35px 46.85px 0 rgba(103, 207, 236, 0.0531);
}
.folders .folder:nth-child(5) .folder__upper .folder__upper--icon svg > path {
  fill: #3734a9;
}
.folders .folder:nth-child(6) {
  background-color: #fff9f0;
  box-shadow: 0 1.85px 3.15px 0 rgba(253, 131, 66, 0.0169), 0 8.15px 6.52px 0 rgba(253, 131, 66, 0.0275), 0 20px 13px 0 rgba(253, 131, 66, 0.035), 0 38.52px 25.48px 0 rgba(253, 131, 66, 0.0425), 0 45px 46.85px 0 rgba(253, 131, 66, 0.0531);
}
.folders .folder:nth-child(6):hover {
  transform: scale(0.98);
  box-shadow: 0 1.85px 3.15px 0 rgba(253, 131, 66, 0.0169), 0 6px 6.52px 0 rgba(253, 131, 66, 0.0275), 0 15px 13px 0 rgba(253, 131, 66, 0.035), 0 23px 25.48px 0 rgba(253, 131, 66, 0.0425), 0 35px 46.85px 0 rgba(253, 131, 66, 0.0531);
}
.folders .folder:nth-child(6) .folder__upper .folder__upper--icon svg > path {
  fill: #2fe6c8;
}

.folder {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 10px;
  padding: 20px;
  min-width: 180px;
  gap: 25px;
  cursor: pointer;
  transition: all 0.3 ease-in-out;
}
.folder__upper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.folder__upper--actions {
  margin-top: 2.5px;
  cursor: pointer;
}
.folder__lower--name {
  color: #505887;
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 500;
}
.folder__lower--details {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.folder__lower--details span {
  font-size: 12px;
  color: #718ebf;
}

.quick-access {
  margin-bottom: 60px;
  padding: 0 30px;
}
.quick-access__title {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 18px;
  color: #505887;
}
.quick-access__cards {
  display: flex;
  flex-flow: row nowrap;
  gap: 18px;
}
.quick-access__cards .qa-card {
  display: none;
}
.quick-access__cards .qa-card:nth-child(1) {
  display: block;
}

.qa-card {
  position: relative;
  height: 175px;
  border-radius: 15px;
  overflow: hidden;
  flex-grow: 1;
  flex-basis: 250px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@supports (aspect-ratio: 4/3) {
  .qa-card {
    aspect-ratio: 4/3;
    height: auto;
  }
}
.qa-card:hover {
  box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.075);
}
.qa-card:hover .qa-card__img img {
  transform: scale(1.1);
}
.qa-card__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}
.qa-card__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 17px;
  transition: all 0.3s ease-in-out;
}
.qa-card__details {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  overflow: hidden;
  padding: 16px 30px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}
.qa-card__details--name {
  color: #25396f;
  font-style: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 13px;
}
.qa-card__details--name span {
  color: #7c8db5;
  font-size: 12px;
  font-weight: normal;
}

.rufm-layout {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.rufm-layout > .recently-uploaded {
  flex: 1 calc(45% - 18px);
}
.rufm-layout > .file-manager {
  flex: 1 calc(55% - 18px);
}

.recently-uploaded {
  padding: 0 30px;
}
.recently-uploaded__title {
  color: #505887;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
}
.recently-uploaded__cards {
  display: flex;
  flex-flow: row wrap;
  gap: 18px;
}
.recently-uploaded__cards > div {
  flex-grow: 1;
  flex-basis: 220px;
}

.ru-card {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}
.ru-card__details {
  display: flex;
  gap: 15px;
  align-items: center;
}
.ru-card__details--img {
  width: 44px;
  height: 44px;
  background-color: #cfc8ff;
  border-radius: 10px;
}
.ru-card__details--img img {
  width: 44px;
  height: 44px;
}
.ru-card__details--desc p {
  font-size: 13px;
  color: #505887;
  font-weight: 600;
}
.ru-card__details--desc span {
  font-size: 10px;
  color: #718ebf;
  font-weight: 600;
}
.ru-card__size span {
  font-size: 12px;
  font-weight: 600;
  color: #718ebf;
}

.file-manager {
  padding: 0 30px;
}
.file-manager__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.file-manager__heading p {
  color: #505887;
  font-size: 18px;
  font-weight: 600;
}
.file-manager__heading svg {
  cursor: pointer;
}
.file-manager__contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.file-manager__contents--cards {
  display: flex;
  flex-flow: row wrap;
  gap: 27px;
  width: 100%;
}
.file-manager__contents--cards > div {
  flex-grow: 1;
  flex-basis: 120px;
}
.file-manager__contents--btn {
  cursor: pointer;
  background-color: #dee1e6;
  border-radius: 5px;
  font-size: 14px;
  color: #51459e;
  font-weight: 400;
  border: none;
  padding: 10px 20px;
  margin-top: 23px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.file-manager__contents--btn:hover {
  background-color: #cfc8ff;
  color: #fff;
}
@media only screen and (min-width: 2000px) {
  .file-manager__contents--btn {
    width: auto;
  }
}

.fm-card {
  background-color: #ebedfb;
  border-radius: 9px;
  padding: 16px 14px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.fm-card__icon {
  margin-bottom: 10px;
}
.fm-card__details--title {
  font-size: 12.5px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 4px;
}
.fm-card__details--createdat {
  font-size: 9px;
  color: #757575;
}
.fm-card:hover {
  background-color: #cfc8ff;
}

.stats {
  margin-bottom: 60px;
  padding: 0 30px;
}
.stats__heading {
  font-size: 20px;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 30px;
  color: #25396F;
}
.stats__graph {
  max-width: 550px;
  min-width: 300px;
  width: 100%;
}
.stats__graph #stats {
  background-color: #fff;
}

.shared-folders {
  margin-bottom: 48px;
  padding: 0 30px;
}
.shared-folders__heading {
  font-size: 18px;
  color: #505887;
  margin-bottom: 20px;
  font-weight: 600;
}
.shared-folders__cards {
  display: flex;
  flex-flow: row wrap;
  gap: 22px;
}

.sf-card {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 0 350px;
  cursor: pointer;
}
.sf-card:hover .sf-card__icon {
  border: 1px solid #51459e;
}
.sf-card__icon {
  background-color: #dee1e6;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid transparent;
}
.sf-card__details {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  gap: 10px;
}
.sf-card__details--title p {
  font-size: 13px;
  font-weight: 600;
  color: #505887;
}
.sf-card__details--title span {
  font-size: 10px;
  font-weight: 600;
  color: #718ebf;
}
.sf-card__details--createdat {
  font-size: 10px;
  color: #718ebf;
  font-weight: 600;
}

.invite-friends {
  position: relative;
  margin: 0 30px;
}
.invite-friends__contents {
  position: relative;
  border-radius: 10px;
  padding: 20px 22px;
  top: -1rem;
  left: -1rem;
  z-index: 3;
  background: url("/flower-pattern.svg") center/cover no-repeat, #51459e;
}
.invite-friends__contents--text {
  font-size: 16px;
  font-weight: 400;
  color: #dee1e6;
  margin-bottom: 12px;
  max-width: 80%;
}
.invite-friends__contents--btn {
  border: none;
  cursor: pointer;
  background-color: #84e8f4;
  border-radius: 5px;
  padding: 8px 14px;
  color: #51459e;
  transition: all 0.3s ease-in-out;
}
.invite-friends__contents--btn:hover {
  box-shadow: 5px 5px #fff;
}
.invite-friends__empty {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  background-color: #f6f4ff;
  border: 1px dashed #d0c9ff;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
